<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"

       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- Draw2d  -->
    <bean id="draw2d"
          class="com.example.shapes.Draw2d"/>


    <!-- Draw3d  -->
    <bean id="draw3d"
          class="com.example.shapes.Draw3d"/>


    <!--  Constructor Injection -->
    <bean id="circle"
          class="com.example.shapes.Circle">

        <constructor-arg
                ref="draw2d"/>

        <constructor-arg
                ref="draw3d"/>

    </bean>


    <!-- Setter Injection -->
    <bean id="square"
          class="com.example.shapes.Square">

        <property name="draw2d"
                  ref="draw2d"/>

        <property name="draw3d"
                  ref="draw3d"/>

    </bean>


</beans>